.App-header {
  background-color: #282c34;
  min-height: 100vh;
  /* display: flex;
  flex-direction: column; */
  /* font-size: calc(0.4vw + 0.4vh); */
  overflow: auto;
  /* align-items: center; */
  /* justify-content: center; */
  /* font-size: calc(10px + 2vmin); */
  /* max-width: 200vw; */
}

.App-link {
  color: #61dafb;
}

.Header {
  background-color: #282c34;
  color: #61dafb;
}

.Footer {
  background-color: #282c34;
  color: #61dafb;
  text-align: center;
}

.Content {
  background-color: #282c34;
  min-height: 83vh;
  color: #61dafb;
}

.custom {
  color: #61dafb;
}

input {
  background-color: #61dafb;
  border-radius: 7px;
}
